video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    color: #F5F5DC;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-container > p {
    color: #F5F5DC;
    font-size: 30px;
  }

  .hero-btns .btn {
    margin: 6px;
    background-blend-mode: lighten;
  }

.fa-play-circle {
    margin-left: 4px;
  }

@media screen and (max-width: 900px) {
  .hero-container > p {
    color: #F5F5DC;
    font-size: 22px;
  }
}